{% extends 'blog/base.html' %}

{% block content %}

<div class="jumbotron bg-white">
<div class="content container">

    <div class="row">
        <div class="col-md-10">
            {% if about.aboutText %}
            <div class="post">
                <div class="post-inner">
                    <div class="post-header">

                <h2 class="post-title">Bio</h2>
                        <div class="post-meta">
                        </div>
            {% if about.aboutImages %}
            <p><img src="{{ about.aboutImages.url }}" class="img-fluid w-100"></p>
            {% endif %}
        <p>{{ about.aboutText }}</p>
        </div>
        {% else %}
        <h1> Nothing here yet! </h1>
        {% endif %}
             </div>


</div>
</div>
</div>
</div>





{% endblock %}