{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron bg-white">
<div class="content container">

    <div class="row">
        <div class="col-md-8">


        <div class="post">
        {% if about.aboutText %}
        <h2>Bio</h2></h1>
            {% if about.aboutImages %}
            <p><img src="{{ about.aboutImages.url }}" class="img-fluid w-75"></p>
            {% endif %}
        <p>{{ about.aboutText }}</p>
        </div>
        {% else %}
        <h1> Nothing here yet! </h1>
        {% endif %}
</div>
    </div>
</div>
</div>





{% endblock %}