{% extends 'blog/base.html' %}
{% load static %}
{% block content%}

  <h1>Search</h1>
  <form action="." method="GET">
    <label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
  </form>
<div class="jumbotron bg-white">
{% for result in results %}
      <div class="row mt-5 justify-content-center">
      <div class="card card-custom mx-2 mb-3">
        <ul class="list-group shadow">
          <li class="list-group-item">
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-2">
                <h5 class="mt-0 font-weight-bold mb-2">{{ result.volumeInfo.title }}</h5>
                <p class="font-italic text-muted mb-0 small">{{ result.searchInfo.textSnippet }}</p>
                <p class="font-italic text-muted mb-0 small">Language: {{ result.language }}</p>
                <p class="font-italic text-muted mb-0 small">Published date: {{ result.volumeInfo.publishedDate }}</p>
                <div class="media-body order-2 order-lg-1">
                {% if result.volumeInfo.authors %}
                <h6 class="font-weight-bold my-2">Authors:</h6>
                {% for author in result.volumeInfo.authors %}
                  <p class="font-italic text-muted mb-0 small">{{ author }}</p>
                {% endfor %}
                {% endif %}
                </div>
                {% if result.pageCount %}
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <h6 class="font-weight-bold my-2">Number of pages: {{ result.pageCount }}</h6>
                </div>
                {% endif %}
              </div>
              {% if result.volumeInfo.imageLinks %}
               <div class="thumbnail bookimg"> <img class="img-responsive" src="{{ result.volumeInfo.imageLinks.smallThumbnail }}" alt=""> </div>
              {% endif %}
            </div>
            <form action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" name="add_book_to_shelf" value="Add to Bookshelf" action="{% url 'add_book_to_shelf' %}">
            </form>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}

